/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@300&family=Roboto&display=swap');

/* HEADER */

.colorEncabezado {
    background-color: white;
}

.enlacesMP {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    text-decoration: none;
    color: #719E45;
    /* margin-left: 20px;  */
    /* margin: 15px 15px; */
}

.enlacesMP:hover {
    text-decoration: underline;
}

.logo {
    width: 50%;
}

/* BODY */
body {
    color: white;
    background-color: #53555F;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    margin: 0px;
}

/* CAROUSEL */
.fotosCarousel {
    max-width: 100%;
    max-height: 50%;
}



/* .cajaInicio {
    border-top: 2px solid;
    border-radius: 4px;
    height: 250px;
    width: 500px;
    margin: 50px;

    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    background-color: #53555F;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    opacity: 70%;
} */

/* SERVICIOS */

#servicios {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    /* Version pantalla grande */
    /* flex-flow: row wrap;
    justify-content: space-evenly; */




    /* VERSION PANTALLA GRANDE */
    /* flex-direction: row; */
}

#nosotros {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.cajita {
    margin: 20px;
    padding: 20px;
    border: 1px solid #444444;
    border-radius: 4px;
    box-shadow: 3px 3px 10px;
    text-align: center;
    background-color: black;
}

.cajita p {
    margin-top: 10px;
}

.cajaNb {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: center;

    /* Version escritorio */
    /* margin-top: 50px;
    margin-bottom: 50px; */
    /* flex-direction: row; */
    /* justify-content: space-around; */
}

.textoNb h2 {
    font-size: 30px;
    text-align: center;
    color: black;
}

.textoNb p {
    color: black;
    font-size: 15px;
    text-align: center;


    /* Version escritorio */
    /* top: 10px;
    display: inline-block;
    width: 50%;
    padding-left: 250px; */
}

.logoNB {
    max-width: 10%;
}

.cajapresentacion {
    background-color: #719E45;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cajapresentacion h1 {
    margin-top: 50px;
}

/* .presentacion h1 {
    text-align: center;
} */

.presentacion p {
    text-align: center;
}

.fotoGrupal {
    max-width: 100%;
}

/* ENTRENADORES */

.cajaGrande {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cajaEntrenadores {
    margin-top: 20px;
    /* flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center; */
    margin-bottom: 30px;
    width: max-content;
}

.entrenadores ul li {
    margin-left: 0;
    padding-left: 0;
}

.bullet {
    list-style-type: square;
    display: block;
}

.cajaEntrenadores h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;
}

.cajaEntrenadores h5 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: medium;
}

.cajaEntrenadores p {
    margin-top: 10px;
}

.fotoProfe {
    width: 40%;
    height: 20%;
}

/* SEDE */

.cajaSede {
    background-image: url(../img/foto-sede.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sede h1 {
    text-transform: uppercase;
}

.mapa {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.mapa iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    /* position:absolute; */
}

/* GALERIA DE IMAGENES */

.cajaGaleria {
    margin-top: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cajaGaleria h1 {
    text-transform: uppercase;
}

.imagen {
    width: 100%;
}

.imagen img {
    width: 100%;
}

.galeria {
    margin-top: 50px;
    width: 100%;
    /* margin: auto; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}

/* CONTACTO */

.cajaContacto {
    margin-top: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cajaContacto h1 {
    text-transform: uppercase;
}

.formulario {
    /* margin-top: 50px;
    margin-bottom: 50px; */
    /* display: flex;
    flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;
}

/* .cojaContacto {
    width: auto;
    height: auto;
    margin: 80px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #fbfbfb;
    padding-left: 30px;
} */

form {
    width: 450px;
    margin: auto;
    padding:10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 20px;
}

input {
    background-color: #fbfbfb;
    width: 95%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #719E45;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}


textarea {
    background-color: #fbfbfb;
    width: 95%;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #719E45;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
}


label {
    display: block;
    float: center;
}


button {
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #719E45;
    border-color: #719E45;
    border-style: solid;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
}


button p {
    color: #fff;
}


span {
    color: #719E45;
}


.aviso {
    font-size: 13px;
    color: #0e0e0e;
}

.tituloFinal {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.tituloFinal h3 {
    text-transform: uppercase;
}


/* FOOTER */

#footer {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    padding: 30px 10px;

    border-top: black 2px solid;
}

.footerTitulo {
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    padding-bottom: 30px;
}

.redes {
    text-align: center;
}


/****MEDIA QUERIES****/

/* @media (max-width: 320px) {
    form {
        width: 100%;
    }
} */

@media (min-width: 320px) {

    .mapa iframe {
        width: 200px;
        height: 150px;
    }

    .galeria {
        grid-template-columns: repeat(1, 1fr);
    }

}

/* CSS pantalla 768px o superior */

@media (max-width: 768px) {
    .logoNb {
        width: 50%;
    }

    form {
        width: 100%;
    }

}


@media (min-width: 768px) {

    .mapa iframe {
        width: 500px;
        height: 350px;
    }

    .galeria {
        grid-template-columns: repeat(3, 1fr);
    }

}

/* CSS pantalla 1024px o superior */

@media (min-width: 1024px) {


    .galeria {
        grid-template-columns: repeat(4, 1fr);
    }

}