/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@300&family=Roboto&display=swap');

/* HEADER */

.colorEncabezado {
    background-color: white;
}

.enlacesMP {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    text-decoration: none;
    color: #719E45;
    /* margin-left: 20px;  */
    /* margin: 15px 15px; */
}

.enlacesMP:hover {
    text-decoration: underline;
}

.logo {
    width: 50%;
}

/* BODY */
body {
    color: white;
    background-color: #53555F;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    margin: 0px;
}

/* CAROUSEL */
.fotosCarousel {
    max-width: 100%;
    max-height: 50%;
}



/* .cajaInicio {
    border-top: 2px solid;
    border-radius: 4px;
    height: 250px;
    width: 500px;
    margin: 50px;

    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    background-color: #53555F;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    opacity: 70%;
} */

/* SERVICIOS */

#servicios {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    /* Version pantalla grande */
    /* flex-flow: row wrap;
    justify-content: space-evenly; */




    /* VERSION PANTALLA GRANDE */
    /* flex-direction: row; */
}

#nosotros {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.cajita {
    margin: 20px;
    padding: 20px;
    border: 1px solid #444444;
    border-radius: 4px;
    box-shadow: 3px 3px 10px;
    text-align: center;
    background-color: black;
}

.cajita p {
    margin-top: 10px;
}

.cajaNb {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: center;

    /* Version escritorio */
    /* margin-top: 50px;
    margin-bottom: 50px; */
    /* flex-direction: row; */
    /* justify-content: space-around; */
}

.textoNb h2 {
    font-size: 30px;
    text-align: center;
    color: black;
}

.textoNb p {
    color: black;
    font-size: 15px;
    text-align: center;


    /* Version escritorio */
    /* top: 10px;
    display: inline-block;
    width: 50%;
    padding-left: 250px; */
}

.logoNB {
    width: 10%;
}

.cajapresentacion {
    background-color: #719E45;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.cajapresentacion h1 {
    margin-top: 50px;
}

/* .presentacion h1 {
    text-align: center;
} */

.presentacion p {
    text-align: center;
}

.fotoGrupal {
    max-width: 100%;
}

.cajaGrande {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cajaEntrenadores {
    margin-top: 60px;
    /* flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center; */
    margin-bottom: 50px;
    width: max-content;
}

.entrenadores ul li {
    margin-left: 0;
    padding-left: 0;
}

.bullet {
    list-style-type: square;
    display: block;
}

.fotoProfe {
    width: 40%;
    height: 20%;
}

.cajaSede {
    background-image: url(../img/foto-sede.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sede h1 {
    text-transform: uppercase;
}

.mapa {
    overflow:hidden;
    padding-bottom: 56.25%;
    position:relative;
    height:0;
}

.mapa iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    /* position:absolute; */
}

/* GALERIA DE IMAGENES */

.cajaGaleria {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.imagen{
    width: 100%;
}
.imagen img{
    width: 100%;
}
.galeria{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}
 

/* FOOTER */

#footer {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    padding: 30px 10px;

    border-top: black 2px solid;
}

.footerTitulo {
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    padding-bottom: 30px;
}

.redes {
    text-align: center;
}


/* Media queries */

@media (min-width: 320px) {

    .mapa iframe {
      width: 200px;
      height: 150px;
    } 

    .galeria {
        grid-template-columns: repeat(1, 1fr);
    }

  }
  
  /* CSS pantalla 768px o superior */
  @media (min-width: 768px) {
  
    .mapa iframe {
      width: 500px;
      height: 350px;
    } 

    .galeria{
        grid-template-columns: repeat(3, 1fr);
    }
  
  }

   /* CSS pantalla 1024px o superior */

   @media (min-width: 1024px) {
  

    .galeria{
        grid-template-columns: repeat(4, 1fr);
    }
  
  }