* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* FONT FAMILY */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Lato', sans-serif; */
/* font-family: 'Roboto Condensed', sans-serif; */

/* HEADER */

.navbar {
    font-family: 'Lato', sans-serif;
}

.colorEncabezado {
    background-color: white;
}

.enlacesMP {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    text-decoration: none;
    color: #719E45;

}

.enlacesMP:hover {
    text-decoration: underline;
}

.logo {
    width: 50%;
}

/* BODY */
body {
    color: white;
    background-color: #53555F;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0px;
}

/* CAROUSEL */
.fotosCarousel {
    max-width: 100%;
    max-height: 50%;
}


/* SERVICIOS */

.servicios {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.nosotros {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cajita {
    margin: 20px;
    padding: 20px;
    border: 1px solid #444444;
    border-radius: 4px;
    box-shadow: 3px 3px 10px;
    text-align: center;
    background-color: black;
}

.cajita p {
    margin-top: 10px;
}

/******** NOSOTROS*******/


#seccionNB {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: center;
}

.cajaNb {
    padding: 30px;
}

.cajaNb h2 {
    font-size: 30px;
    text-align: center;
    color: black;
    margin-top: 5px;
}

.cajaNb p {
    color: black;
    font-size: 20px;
    text-align: center;

}

.logoNb {
    max-width: 30%;
    margin: auto;
}

.cajapresentacion {
    background-color: #719E45;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cajapresentacion h1 {
    margin-top: 50px;
}

.presentacion {
    padding: 30px;
}

.presentacion p {
    text-align: center;
}

.fotoGrupal {
    max-width: 100%;
}

/******* ENTRENADORES *******/

.cajaGrande {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cajaGrande h1 {
    text-transform: uppercase;
    text-align: center;
}

.cajaEntrenadores {
    margin-top: 20px;
    margin-bottom: 30px;
}


.cajaEntrenadores h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
}

.cajaEntrenadores h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
}

.cajaEntrenadores p {
    margin-top: 10px;
    font-size: 1rem;
}

.fotoProfe {
    width: 80%;
}

/******* SEDE *********/

.cajaSede {
    background-image: url(../img/foto-sede.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sede h1 {
    text-transform: uppercase;

}


.mapa {
    overflow: hidden;
    padding-bottom: 56.25%;
    /* position: relative; */
    height: 0;
}

.mapa iframe {
    left: 0;
    top: 0;
    max-width: 50%;
}

/******** GALERIA DE IMAGENES *********/

.contenedorGaleria {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.contenedorGaleria h1 {
    text-transform: uppercase;
}

.imagen {
    width: 100%;
}

.imagen img {
    width: 100%;
    transition: all 300ms;
}

.imagen img:hover {
    transform: scale(1.15);
}

.galeria {
    margin-top: 50px;
    padding: 1.5rem;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}

/* CONTACTO */

.cajaContacto {
    margin-top: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cajaContacto h1 {
    text-transform: uppercase;
}

.formulario {
    /* margin-top: 50px;
    margin-bottom: 50px; */
    /* display: flex;
    flex-wrap: wrap; */
    /* justify-content: space-around;
    align-items: center; */
}



form {
    background-color: #24303c;
    width: 90%;
    /* height: 75%; */
    margin: auto;
    margin-top: 100px;
    padding: 10px 20px;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 20px;
}

input {
    background-color: #fbfbfb;
    width: 95%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #719E45;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}


textarea {
    background-color: #fbfbfb;
    width: 95%;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #719E45;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    /* padding-top: 15px; */
}


label {
    display: block;
    float: center;
}


button {
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
    margin-top: 5px;
    text-transform: uppercase;
    background-color: #719E45;
    border-color: #719E45;
    border-style: solid;
    border-radius: 10px;
    width: 45%;
    /* cursor: pointer; */
}

button:hover {
    cursor: pointer;
    transform: translateY(-3px);
    transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
}


button p {
    color: #fff;
}


span {
    color: #719E45;
}


.aviso {
    font-size: 13px;
    color: #0e0e0e;
}

.tituloFinal {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}

.tituloFinal h3 {
    text-transform: uppercase;
}


/* FOOTER */

footer {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    padding: 15px 5px;
    background-color: #719E45;
    border-top: black 2px solid;
    /* border-bottom: black 2px solid; */
}

footer h2 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    /* padding-bottom: 20px; */
}

footer .redes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    font-size: 30px;
}

.redes a {
    font-weight: bold;
    color: black;
}

.datos {
    font-size: medium;
}

.legales {
    padding: 3px;
}

.legales p {
    font-size: small;
    text-align: center;
}

/**********MEDIA QUERIES**********/


/* CSS pantalla 768px o superior */
/* MEDIA QUERIES PANTALLA 768px O SUPERIOR */


@media (min-width: 768px) {

    .servicios {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .logoNb {
        max-width: 30%;
        margin: auto;
    }

    .nosotros {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .sede {
        margin: auto;
    }

    .mapa iframe {
        max-width: 60%;
    }

    .cajaEntrenadores {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
    }

    .fotoProfe {
        width: 30%;
        max-height: 5%;
    }


    .galeria {
        grid-template-columns: repeat(3, 1fr);
    }

    form {
        width: 60%;
    }

    button {
        width: 100%;
    }

}

/* CSS pantalla 1024px o superior */
/* MEDIA QUERIES PARA PANTALLAS 1024px O SUPERIOR */

@media (min-width: 1024px) {

    .servicios {
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .logoNb {
        max-width: 40%;
        margin: auto;
    }

    .nosotros {
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }



    .fotoProfe {
        width: 30%;
        max-height: 5%;
        /* align-items: center; */
    }

    .sede {
        margin: auto;
    }

    .mapa iframe {

        max-width: 100%;
    }

    .galeria {
        grid-template-columns: repeat(4, 1fr);
    }

    form {
        width: 40%;
    }

    button {
        width: 100%;
    }

}