// MIXIN
@mixin enlaces {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    text-decoration: none;
    color: $color_1;

    &:hover {
        text-decoration: underline;
    };
}

/* HEADER */

.navbar {
    font-family: $font-family_1;
}

.colorEncabezado {
    background-color: $background-color_1;
}

.enlacesMP {
    @include enlaces;
}

.logo {
    width: 50%;
}




