$color_1: #719E45;
$color_2: black;
$color_3: #fff;
$color_4: #0e0e0e;
$color_5: white;
$font-family_1: 'Lato', sans-serif;
$background-color_1: white;
$background-color_2: black;
$background-color_3: #719E45;
$background-color_4: #24303c;
$background-color_5: #fbfbfb;
$border-color_1: #719E45;